body {
    background-image: url('img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.container{
    margin: 30px;
    margin-top: 85px;
    margin-bottom: 10px;
    min-width: 670px;
    width: 55%;
    height:20%;
    background-color: #ffffff0b;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(20px);
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.221);
    background-color: rgb(228 228 228 / 15%); 
}

.container2{
    margin: 20px;
    margin-top: 10px;
    min-width: 670px;
    width: 55%;
    height:60vh;
    background-color: #ffffff0b;
    border-radius: 30px;
    display: flex;
    backdrop-filter: blur(50px);
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.221);
    background-color: rgb(228 228 228 / 15%); 
    justify-content: center;
    align-items: center;
}

.name {
    margin: 30px;
    font-size: 50px;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-weight: 800;
    width: 40%;
    min-width: 321px;
}

.projects-buttons{
    display: inline-flex;

    align-items: center;
    margin: 40px;
    width: 14rem;
    text-align: center;
    
}


h2{
    margin: 16px;
    font-size: 20px;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-weight: 800;
}

.about{
    background-color: rgba(11, 15, 27, 0.463);
    margin-right: 20px;
    border-radius: 30px;
    transition: all 0.5s;
}

.projects{
    background-color: rgba(11, 15, 27, 0.463);
    border-radius: 30px;
    transition: all 0.3s;
}

.about:hover, .projects:hover{
    background-color: rgba(11, 15, 27, 0.796);
    transform: translateY(-5px);
    box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.09);
}

.desc-text {

    color: white;
    margin: 20px;
    
}

.profile{
    width: 150px;
    margin: 10px;

    margin-bottom: 20px;
}

.profile-pic{
    
    margin-right: 50px;
    margin-left: 50px;
    max-width: 400px;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    width: inherit;
}

.desc{
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-color: rgba(11, 15, 27, 0.463);
    width:400px;
    height: 140px;
}


.proj1{
    background-color: rgba(11, 15, 27, 0.463);
    border-radius: 30px;
    width:98%;
    height: 25%;    margin: 10px;
    transition: all 0.6s;
}

.proj2{
    background-color: rgba(11, 15, 27, 0.463);
    border-radius: 30px;
    width:98%;
    height: 25%;    margin: 10px;
    transition: all 0.6s;
}

.proj3{
    background-color: rgba(11, 15, 27, 0.463);
    border-radius: 30px;
    width:98%;
    height: 25%;
    margin: 10px;
    transition: all 0.6s;
}

.projects-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    margin-right: 50px;
    width: inherit;
    min-width: 200px;
    height: inherit;
}

.e{
    text-overflow: ellipsis;
    text-overflow: li
}


body {
    transform: scale(1.1);

}

h4{
    margin: 30px;
    font-size: 30px;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-weight: 800;
    margin-bottom: 10px;
    text-overflow: ellipsis;
}

h5{
    margin: 30px;
    margin-top: 0px;
    font-size: 15px;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-weight: 800;
}

.proj1:hover,.proj2:hover,.proj3:hover{
    box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.09);
    transform: translateY(-3px);

}






@media screen and (max-width: 1700px) {
    .container2{
        margin: 20px;
        margin-top: 10px;
        min-width: 670px;
        width: 75%;
        height:60vh;
        background-color: #ffffff0b;
        border-radius: 30px;
        display: flex;
        backdrop-filter: blur(50px);
        box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.221);
        background-color: rgb(228 228 228 / 15%); 
        justify-content: center;
        align-items: center;
    }

    h4{
        margin: 30px;
        font-size: 20px;
        color: white;
        font-family: 'DM Sans', sans-serif;
        font-weight: 800;
        margin-bottom: 10px;
    }
    
    h5{
        margin: 30px;
        margin-top: 0px;
        font-size: 14px;
        color: white;
        font-family: 'DM Sans', sans-serif;
        font-weight: 800;
    }

    .container{
        margin: 30px;
        margin-top: 85px;
        margin-bottom: 10px;
        min-width: 670px;
        width: 75%;
        height:20%;
        background-color: #ffffff0b;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        backdrop-filter: blur(20px);
        box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.221);
        background-color: rgb(228 228 228 / 15%); 
    }
}

@media (-webkit-min-device-pixel-ratio: 1.25) {
    .container{
        margin: 30px;
        margin-top: 60px;
        margin-bottom: 10px;
        min-width: 670px;
        width: 75%;
        height:20%;
        background-color: #ffffff0b;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        backdrop-filter: blur(20px);
        box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.221);
        background-color: rgb(228 228 228 / 15%); 
    }
    
    .container2{
        margin: 20px;
        margin-top: 10px;
        min-width: 670px;
        width: 75%;
        height:60vh;
        background-color: #ffffff0b;
        border-radius: 30px;
        display: flex;
        backdrop-filter: blur(50px);
        box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.221);
        background-color: rgb(228 228 228 / 15%); 
        justify-content: center;
        align-items: center;
    }

    h4{
        margin: 30px;
        font-size: 20px;
        color: white;
        font-family: 'DM Sans', sans-serif;
        font-weight: 800;
        margin-bottom: 10px;
        margin-top: 17px;
    }
    
    h5{
        margin: 30px;
        margin-top: 0px;
        font-size: 14px;
        color: white;
        font-family: 'DM Sans', sans-serif;
        font-weight: 800;
    }
}

@media screen and (max-width: 1250px) {
    .container2{
        margin: 20px;
        margin-top: 10px;
        min-width: 670px;
        width: 75%;
        height:60%;
        background-color: #ffffff0b;
        border-radius: 30px;
        display: flex;
        backdrop-filter: blur(50px);
        box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.221);
        background-color: rgb(228 228 228 / 15%); 
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .projects-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px;
        margin-right: 10px;
        width: inherit;
        min-width: 200px;
        height: inherit;
    }

    .container{
        margin: 30px;
        margin-top: 85px;
        margin-bottom: 10px;
        min-width: 670px;
        width: 75%;
        height:20%;
        background-color: #ffffff0b;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        backdrop-filter: blur(20px);
        box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.221);
        background-color: rgb(228 228 228 / 15%); 
    }

    .profile-pic{
    
        margin-right: 50px;
        margin-left: 50px;
        max-width: 400px;
        text-align: center;
        font-family: 'DM Sans', sans-serif;
        font-size: 14px;
        width: inherit;
        margin-top: 40px;
    }

    body{
        overflow: auto;
    }
    
}